# Exclude root level directories which are generated through Visual Studio on compilation
*.pdx
/Source/*
!/Source/pdxinfo

# Only include Visual Studio project files from the build folder
/build/*
!/build/*.vcxproj
!/build/*.vcxproj.filters
!/build/*.vcxproj.user
!/build/*.sln